{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/booking/booking_list.css' %}" />
{% endblock %}

{% block title %}
Список бронирований
{% endblock %}

{% block content %}
<h2>
  {% if current_client %}
  Бронирования клиента: {{ current_client.name }}
  <br>
  <a href="{% url 'booking_list' %}" class="show-all-link">Показать все бронирования</a>
  {% else %}
  Список всех бронирований
  {% endif %}
</h2>

  {% if bookings %}
    <table class="booking-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Клиент</th>
          <th>Номер</th>
          <th>Заезд</th>
          <th>Выезд</th>
          <th>Цена</th>
          <th>Детская кровать</th>
          <th>Опции</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
          <tr>
            <td>{{ booking.id }}</td>
            <td><a href="{% url 'booking_list' %}?client_id={{ booking.client.id }}">{{ booking.client.name }}</a></td>
            <td><a href="{% url 'room_detail' booking.room.id %}">№ {{ booking.room.number }}</a></td>
            <td>{{ booking.check_in }}</td>
            <td>{{ booking.check_out }}</td>
            <td>{{ booking.total_price|default:'—' }}</td>
            <td>
              {% if booking.has_child_bed %}
                Да
              {% else %}
                Нет
              {% endif %}
            </td>
            <td>
              <a href="{% url 'booking_delete' booking.id %}" class="delete-link">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Пока нет бронирований.</p>
  {% endif %}
{% endblock %}